VITE_API_TARGET=global
# VITE_SCHOOL_GLOBAL_API_URL=https://schoolapi.agsoftsolutions.co.in/
VITE_SCHOOL_GLOBAL_API_URL=http://localhost:4002/
VITE_SCHOOL_LOCAL_API_URL=http://localhost:4001/
# VITE_INMATE_GLOBAL_API_URL=https://inmateapi.agsoftsolutions.co.in/
VITE_INMATE_GLOBAL_API_URL=http://localhost:3002/
VITE_INMATE_LOCAL_API_URL=http://localhost:3001/
