VITE_API_TARGET=global
VITE_SCHOOL_GLOBAL_API_URL=https://apiglobalschool.agsoftsolutions.co.in/
VITE_SCHOOL_LOCAL_API_URL=https://schoolapi.agsoftsolutions.co.in/
VITE_INMATE_GLOBAL_API_URL=https://apiglobalinmate.agsoftsolutions.co.in master/
VITE_INMATE_LOCAL_API_URL=https://inmateapi.agsoftsolutions.co.in/